# Basic
*.log
.temp
art
docs
.eslintrc.js
yarn.lock
TODOs.md
.github
.idea
.travis.yml
.coveralls.yml
example/illustration.png
example/assets
.vscode

# CI related
scripts

# Test related
test
.babelrc